<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
        rel="stylesheet"
    />
    <link rel="stylesheet" href="/Home/loco.css">
    <link rel="stylesheet" href="/Home/style.css">
    <title>Document</title>
</head>
<body>
    <div id="minicircle"></div>
    <div id="main">
        <div id="hero">
            <div id="nav">
                <a href="">IIT Bombay</a>
                <div class="user">
                    <button form="login">Login</button>
                    <button form="signUp">SignUp</button>
                    <form id="login" action="/user/login"></form>
                    <form id="signUp" action="/user/signUp"></form>
                </div>
            </div>
            <div class="string">
                <svg width="1200" height="200">
                    <path d="M 20 100 Q 500 100 1200 100" stroke="white" fill="transparent"/>
                  </svg>          
            </div>
        
            <div id="heading">
                <div class="bounding">
                    <h1 class="boundingelem">IIT</h1>
                </div>
                <div class="blocktext">
                    <div class="bounding">
                        <h1 class="boundingelem" id="secondh1">BOMBAY</h1>
                    </div>
                    <div class="bounding">
                        <h5 class="boundingelem">public technical and research university</h5>
                    </div>
                </div>
            </div>
        
            <div id="herofooter">
                <a href="">Global Research Impact and Technological Innovations <i class="ri-arrow-right-up-line"></i></a>
                <a href="">Leadership in Entrepreneurship and Startup Culture <i class="ri-arrow-right-up-line"></i></a>
                <a href="">Excellence in International Rankings and Collaborations <i class="ri-arrow-right-up-line"></i></a>
            </div>
        </div>
        <div id="second">
            <div class="elem">
                <img class='img' src="/Home/img/download.jpeg" alt="">
                <h1>JEE</h1>
                <p>2024</p>
            </div>
            <div class="elem">
                <img src="/Home/img/DSC04413.jpg" alt="">
                <h1>GATE</h1>
                <p>2024</p>
            </div>
            <div class="elem elemLast">
                <img src="/Home/img/DSC04436.jpg" alt="">
                <h1>JAM</h1>
                <p>2024</p>
            </div>
        </div> 
        <div id="about">
            <img src="/Home/img/logo.png" alt="">
            <div id="textabout">
                <h5>(About Me)</h5>
                <p>Indian Institute of Technology Bombay (IIT Bombay) is one of India's premier engineering and technology institutions. Established in 1958, IIT Bombay is renowned for its world-class education, cutting-edge research, and highly competitive entrance process, primarily through the Joint Entrance Examination (JEE).</p>
                <a href="">Let's Talk</a>
            </div>
        </div>
        <div id="subscribe">
            <h5>(Latest News)</h5>
            <h3>IIT Bombay Celebrates Teacher's Day <i class="ri-arrow-right-up-line"></i></h3>
        </div>

        <div id="footer">
            <div id="footerleft">
                <h5>&copy; 2024</h5>
                <h5>IIT Bombay. All rights reserved</h5>
            </div>
            <div id="footerright">
                <a href="">dribble</a>
                <a href="">instagram</a>
                <a href="">linkedin</a>
                <a href="">twitter</a>
            </div>
        </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@4.1.4/dist/locomotive-scroll.min.js"></script>
    <script src="/Home/script.js"></script>
</body>
</html>